<html>
    <head>
        <% provide(:title, 'Savvee') %>
    </head>
    <%= render 'layouts/header' %>
    <div class="center jumbotron">
        <div class = "header-desc">Open Source Your Education</div>
        <div class = "header-post_desc">Learn everything you need all in one place.</div>

  </div>


</html>
